@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
  margin:0;
  padding:0;
}
/*shared style*/
.display-flex{
  display:flex;
}
.description{
  font-size: 1rem;
  font-weight: 400px;
 }
 .btn-primary{
  background-color: #FF900E;
  color:white;
  font-size: 1.2rem;
  font-weight: 600px;
  border:none;
  border-radius: 8px;
  padding:20px 25px;
 }
 .main-width{
  max-width: 1440px;
  margin: 0 auto;
 }
/*header style*/
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 3rem;
  padding-top:2rem;
} 
.brand{
  font-size: 2.8rem;
  font-weight: 700px;
}
/*navbar related style  */
.navbar{
  justify-content: space-between;
  
}
  .nav-items{
    list-style: none;
  }
.nav-link{
  text-decoration: none;
}
.nav-links {
  gap:3rem;
}
/*dark 01 */
.text-highlight-color{
  color: #000000;
}
/*dark 02 */
.text-gray{
color:#424242;
}
/*dark 03 */
.text-light-gray{
  color:#727272;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
 /*banner-related-style */
 .banner-content{
  max-width: 836px;
  text-align: center;
  margin:0 auto;
  margin-bottom: 3rem;
 }
 .banner-title{
  font-size:4rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
 }
 .bg-image{
  max-width:100%;
 }
 .description{
  margin-bottom: 2rem;
 }
  /*Quick list of Our Features*/
  .teams{
    text-align: center;
    align-items: center;
    gap:70px;
    margin-top: 69px;

  }
  .out-features{
    text-align:left;
  }
  .tems-image-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px; 
  }
  .out-features{
    max-width: 540px;
  }
  #quick-list{
    font-size: 4rem;
    font-weight: 500px;
  }
  #of-our{
    font-size:4rem;
    font-weight: 700px;
  }
  #features{
    font-size:4rem;
    font-weight: 700px;
  }
  .feature-description{
    margin-bottom:22px 0px 32px 0px;
  }
 /*responsive-media-query*/
 @media screen and (max-width:576px) {
  .navbar, .nav-links, .teams{
    flex-direction: column;
     align-items: center;
  }
  .bg-light{
    padding:0%;
  }
  .tems-image-container{
    grid-template-columns: repeat(1,1fr);
    gap:0px; 
  }  
  
 }
  

 